.auth {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 70px 0 70px;
    box-sizing: border-box;
    height: 100vh;
}

.auth__form {
    display: grid;
}

.auth__title {
    margin: 40px 0 40px;
    font-size: 24px;
    font-weight: 500;
}

.auth__inputs-container {
    min-height: 266px;
    margin: 0 auto 49px ;
}
.auth__error{
    color: #EE3465;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    height: 20px;
}

@media screen and (max-width: 500px) {
    .auth {
        padding: 56px 0 0px;
        justify-items: center;
        align-content: flex-start;
    }

    .auth__title {
        text-align: center;
        margin: 51px 0 81px;
    }

    .auth__inputs-container {
        margin: 0 auto 156px;
    }
}