.promo {
    display: flex;
    flex-direction: column;
    background-color: #073042;
    padding: 0px 70px 60px;
    justify-content: center;
    box-sizing: border-box;
}

.promo__container {
    display: flex;
    flex-direction: column;
    row-gap: 102px;
    padding-top: 51px;
}

.promo__title {
    max-width: 626px;
    font-size: 40px;
    margin: 0;
    font-weight: 400;
    line-height: 52px;
    align-self: flex-start;
    letter-spacing: -1.6px;
}

.promo__image {
    width: 722px;
    max-width: calc(680px + (722 - 680) * ((100vw - 768px) / (1280 - 768)));
    max-height: 244px;
    align-self: flex-end;
    animation: rotateImage 3s linear infinite;
    transform-style: preserve-3d;
}

/*Анимация пружинки*/
@keyframes rotateImage {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}

@media screen and (max-width: 800px) {
    .promo {
        padding: 0px 30px 70px;
    }

    .promo__container {
        display: flex;
        row-gap: 140px;
        padding-top: 302px;
    }

    .promo__title {
        align-self: center;
        text-align: center;
        font-size: calc(31px + (40 - 31) * ((100vw - 320px) / (768 - 320)));
        line-height: calc(39px + (52 - 39) * ((100vw - 320px) / (768 - 320)));
    }

    .promo__image {
        height: 230px;
        align-self: center;
    }
}

@media screen and (max-width: 500px) {
    .promo {
        padding: 0px 10px 40px;
    }

    .promo__container {
        display: flex;
        row-gap: 60px;
        padding-top: 183px;
    }
}